<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bkst.mapper.BookMapper">
	<resultMap type="com.bkst.pojo.Book" id="bookResultMap">
		<id property="bid" column="bid"/>
		<result property="bname" column="bname"/>
		<result property="author" column="author"/>
		<result property="price" column="price"/>
		<result property="picture" column="picture"/>
		<result property="text" column="text"/>
		
		<association property="category" javaType="com.bkst.pojo.Category">
			<id property="cid" column="cid"/>		
			<result property="cname" column="cname"/>
		</association>
	</resultMap>
	
	<select id="selectBooks" resultMap="bookResultMap">
		SELECT * FROM tb_book b,tb_category c
		<where>
			AND b.cid=c.cid 
			<if test="cid != null">
				AND b.cid=#{cid}
			</if>
		</where>
	</select>
	
	<select id="selectBookByBid" resultMap="bookResultMap">
		SELECT * FROM tb_book WHERE bid=#{bid}
	</select>
</mapper>